@model IEnumerable<Pstoh.OA.Model.UserInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<link href="~/Content/tableStyle.css" rel="stylesheet" />*@

    <link href="~/Content/jquery-easyui-1.3.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.3.1/themes/icon.css" rel="stylesheet" />

    <script src="~/Content/jquery-easyui-1.3.1/jquery-1.8.0.min.js"></script>
    <script src="~/Content/jquery-easyui-1.3.1/jquery.easyui.min.js"></script>
    <script src="~/Content/jquery-easyui-1.3.1/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    $(function () {
        initTable();
        $("#addDialogDiv").css("display", "none");
        $("#editDialogDiv").css("display", "none");
        $("#setRoleDialogDiv").css("display", "none");
        $("#setActionDialogDiv").css("display", "none");
        bindSearchBtnClick();
    });

    //绑定搜索按钮
    function bindSearchBtnClick(){
        $('#btnSearch').click(function(){
            var data={'sName':$('#txtSearchName').val(),'sRemark':$('#txtRemarkName').val()};
            initTable(data);
        });
    }

    function initTable(queryParam) {
        $('#tt').datagrid({
            url: '/UserInfo/GetUserInfos',//rows:一页有多少条，page：请求当前页
            title: '用户信息列表',
            width: 700,
            height: 400,
            fitColumns: true,
            idField: 'ID',
            loadMsg: '正在加载用户的信息...',
            pagination: true,
            singleSelect: false,
            pageSize: 10,
            pageNumber: 1,
            pageList: [10, 20, 30],
            queryParams: queryParam,//让表格在加载数据的时候，额外传输的数据。
            columns: [[
                { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: '用户的编号', width: 80 },
                    { field: 'UName', title: '用户名', width: 120 },
                    { field: 'Pwd', title: '密码', width: 120 },
                    { field: 'Remark', title: '备注', width: 120 },
                        {
                            field: 'SubTime', title: '提交时间', width: 80, align: 'right',
                            formatter: function (value, row, index) {
                                return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d h:m:s");
                            }
                        },
                    {
                        field: 'ModfiedOn', title: '操作', width: 120, formatter: function (value, row, index) {
                            var str = "";
                            str += "<a href='javascript:void(0)' class='editLink' uid='" + row.ID + "'>修改</a> &nbsp;&nbsp;";
                            str += "<a href='javascript:void(0)' class='deletLink' uid='" + row.ID + "'>删除</a>";
                            return str;
                        }
                    }
            ]],
            toolbar: [{
                id: 'btnDownShelf',
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    //alert("dd");
                    //弹出一个添加的对话框
                    addEvent();
                }
            }, {
                id: 'btnDelete',
                text: '删除',
                iconCls: 'icon-cancel',
                handler: function () {
                    deleteEvent();
                }
            }, {
                id: 'btnEdit',
                text: '修改',
                iconCls: 'icon-edit',
                handler: function () {
                    //校验你是否只选中一个 用户
                    var selectedRows = $('#tt').datagrid("getSelections");
                    if (selectedRows.length != 1) {
                        //error,question,info,warning.
                        $.messager.alert("错误提醒", "请选中1行要修改数据！", "question");
                        return;
                    }

                    editEvent(selectedRows[0].ID);
                }
            }, {
                id: 'btnSetRole',
                text: '设置角色',
                iconCls: 'icon-redo',
                handler: function () {
                    //判断是否选中一个用户进行角色设置。弹出一个设置角色的对话框出来。
                    setRole();
                }
            } , {
                id: 'btnSetAction',
                text: '设置特殊权限',
                iconCls: 'icon-redo',
                handler: function () {
                    //判断是否选中一个用户进行角色设置。弹出一个设置角色的对话框出来。
                    setAction();
                }
            }],
            onHeaderContextMenu: function (e, field) {

            },
            onLoadSuccess: function(data) {
                $(".editLink").click(function () {//
                    editEvent($(this).attr("uid"));
                    return false;
                });
            }

        });
    }

    //添加
    function addEvent(){
        $('#addDialogDiv').css('display','block');
        $('#addDialogDiv').dialog({
            title: "添加用户",
            modal: true,
            width: 400,
            height: 400,
            collapsible: true,
            minimizable: true,
            maximizable: true,
            resizable: true,
            buttons: [{
                id: 'btnOk',
                text: '添加',
                iconCls: 'icon-ok',
                handler: subAddForm
            }, {
                id: 'btnCancel',
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#addDialogDiv").dialog("close");
                }
            }]
        });
    }
    //修改
    function editEvent(id){
        
    }
    //添加提交
    function subAddForm(){
        $('#addDialogDiv form').submit();
    }

    function afterAdd(data){
        if (data=='OK'){
            $('#addDialogDiv').dialog('close');
            initTable();
        }else {
            $.messager.alert(data);
        }
    }
    //删除
    function deleteEvent(){
        //获取用户要删除的数据
        var selectRows = $('#tt').datagrid('getSelections');
        if (selectRows.length <= 0) {
            $.messager.alert('错误提示', '请选择要删除的数据!', 'question');
            return;
        }

        var sid = '';
        for (var key in selectRows) {
            sid += sid+selectRows[key].ID+',';
        }
        sid = sid.substr(0, sid.length - 1);
        $.post('/UserInfo/Delete', { uid: sid }, function (data) {
            if (data == 'OK') {
                initTable();
            }
            else {
                $.messager.alert('消息提示', data, 'question');
            }
        });
    }
    //设置权限
    function setRole(){

    }
    //设置特殊权限
    function setAction(){

    }
</script>
</head>
<body>
    <div>
        用户名： <input type="text" id="txtSearchName" name="txtSearchName" /> 备注：<input type="text" name="txtSearchReamrk" id="txtSearchReamrk" /> <input type="button" id="btnSearch" value="搜索" />
    </div>
    @*当前页面放表格数据的地方*@
    <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"></table>

    <!----------------弹出来的添加的 对话框- 开始------------>
    <div id="addDialogDiv">
        @using (Ajax.BeginForm("Add", "UserInfo", new AjaxOptions() { OnSuccess = "afterAdd",
            HttpMethod="Post"
        }))
        {
            <table class="t3">
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="UName" /></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="text" name="Pwd" /></td>
                </tr>
                <tr>
                    <td>备注：</td>
                    <td><input type="text" name="Remark" /></td>
                </tr>
                <tr>
                    <td>昵称：</td>
                    <td><input type="text" name="ShowName" /></td>
                </tr>
            </table>
        }
    </div>
    <!----------------弹出来的添加的 对话框- 结束------------>
    <!----------------弹出来的修改的 对话框- 开始------------>
    <div id="editDialogDiv">
        <iframe id="editFrame" src="javascript:void(0)" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
    </div>
    <!----------------弹出来的修改的 对话框- 结束------------>
    <!----------------弹出来设置角色 对话框- 开始------------>
    <div id="setRoleDialogDiv">
        <iframe id="setRoleFrame" src="javascript:void(0)" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
    </div>
    <!----------------弹出来设置角色 对话框- 结束------------>
    <!----------------弹出来设置特殊权限的 对话框- 开始------------>
    <div id="setActionDialogDiv">
        <iframe id="setActionFrame" src="javascript:void(0)" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
    </div>
    <!----------------弹出来的修改的 对话框- 结束------------>

</body>
</html>
